.python-version
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/
dist/
build/
*.egg
*.log
*.bak
*.tmp
*.DS_Store
*.vscode/
*.idea/
*.env
.env/
.venv/
env/
*.toml
uv.lock
kibana.yml
*.ipynb_checkpoints/
*.ipynb_checkpoints